<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<head>
<link rel="stylesheet" href="__PUBLIC__/Css/reset.css" />
<link rel="stylesheet" href="__PUBLIC__/Css/deploy.css" />
</head>
<body>
<p class="head">配置信息&nbsp;&nbsp;&nbsp;</p>
<div class="bor">
<p style="line-height:40px;">系统配置：</p>
<p class="title" style="border-top:1px solid #999;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数据库信息</p>
<div class="item"><span>数据库类型：</span><span class="content">MySQl</span></div>
<div class="item"><span>数据库主机：</span><span class="content">127.0.0.1</span></div>
<div class="item"><span>数据库名称：</span><span class="content">myblog</span></div>
<div class="item"><span>数据库用户：</span><span class="content">root</span></div>
<div class="item"><span>数据库前缀：</span><span class="content">tb_</span></div>
<div class="item"><span>数据库编码：</span><span class="content">UTF8</span></div>
<p class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;基本信息</p>
<div class="item"><span>网站首页：</span><span class="content">http://127.0.0.1/bkweb/index.php/</span></div>
<div class="item"><span>用&nbsp;户&nbsp;名&nbsp;：</span><span class="content">admin</span></div>
<div class="item"><span>&nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;码&nbsp;：</span><span class="content">admin</span></div>
<div class="item"><span>设&nbsp;计&nbsp;者&nbsp;：</span><span class="content">xxxx</span></div>

</div>
</body>
</html>