<!--  hotrank -->
          <div class="fenr">
       <div class="modr_title">
         <div class=border_barr></div>
         <h3>热文排行</h3>
       </div>
        <div class="contents_fenr">
            <ul class="fenr_list">
            <hot limit='8'><li><a href="{$url}">{$Title}</a></li></hot>
<!--             <li><a href="">linux下tomcat的shutdown命令杀不死进</a></li>
            <li><a href="">linux下tomcat的shutdown命令杀不死进</a></li>
            <li><a href="">linux下tomcat的shutdown命令杀不死进</a></li>
            <li><a href="">linux下tomcat的shutdown命令杀不死进</a></li>
            <li><a href="">linux下tomcat的shutdown命令杀不死进</a></li> -->
            </ul>
        </div>
     </div>