</head>
<body>
<!-- 登录 -->
<div class="header_bar">
   <div class="top_bar">
      <div class="header fl"><a href="{:U('home/index/index')}"  target="_self" >博客</a></div>
    <div class="header_d fr" id="login_exe">
    <if condition="!isset($_SESSION['UserName'])">
    <a href="##" id="login_dl">[登 录]</a>
    <a href="{:U('home/reg/index')}">[注 册]</a>
    <else/>
    <span id="login_dl">您好！{$Think.session.UserName}</span>
    <a href="{:U('home/login/loginout')}" target="_self">退出</a>
    </if>
      <span class="search_a"><img src="__PUBLIC__/images/search1.png"></span>
      <span class="menu_a" id="menu_a"><img src="__PUBLIC__/images/menu2.jpg" ><img src="__PUBLIC__/images/menu1.jpg" style="display:none"></span>
      </div>
   </div>
   <div class="menu_pop" id="menu_pop">
      <ul class="pop_content">
        <li><a href="{:U('home/index/index')}" target="_self">博客首页</a></li>
        <li><a href="{:U('home/blogadmin/index')}" target="_self">个人管理</a></li>
        <li><a href="{:U('home/blogeditor/addblogs')}" target="_self">撰写博客</a></li>
        <li><a href="{:U('home/bloglist/index')}" target="_self">博客列表</a></li>
        <!-- <li><a href="###" target="_self">关注好友</a></li>      -->    
      </ul>
   </div>
</div>
<!-- 点击登录，弹出窗口 -->
    <div id="LoginBox">
      <form id="formid" action="{:U('home/login/login')}" method="post">
        <div class="row1">
            登录账号<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn">×</a>
        </div>
        <div class="row">
            用户名: <span class="inputBox">
                <input type="text" id="txtName" name="username" placeholder="账号/邮箱" autocomplete="off"/>
            </span><a href="javascript:void(0)" title="提示" class="warning" id="warn">不能为空</a>
        </div>
        <div class="row">
            密&nbsp;&nbsp;&nbsp;&nbsp;码: <span class="inputBox">
                <input type="password" id="txtPwd" name="password" placeholder="密码" />
            </span><a href="javascript:void(0)" title="提示" class="warning" id="warn2">不能为空</a>
        </div>
        <div class="row">
            <input type="submit" id="loginbtn" value="登录">
        </div>
        </form>
    </div>
    <div class="tag">
      <span class="wrimg"><a href="{:U('home/blogeditor/addblogs')}" target="_self" style="text-decoration:none;"><img class="write_img" src="__PUBLIC__/images/write_blog.png" alt="撰写博客"><p class="writeblog">撰写博客</p></a></span>
      <span class="backtop"><a href="#blogtag" style="text-decoration:none;"><img class="backimg" src="__PUBLIC__/images/back_top.png" alt="回到顶部"><p class="back_top">回到顶部</p></a></span>
    </div>
  <script type="text/javascript" src="__PUBLIC__/js/poplogin.js"></script> 